#global {
	width: 1428px;
	/* overflow-y: hidden;*/
}

#GObutton {
  position: fixed;
  top: 50px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
  z-index: 10;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#GObutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#GOchange {
 position: fixed;
 background: #f0f0f0;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9;
 }
 
#theImg {
	 position: fixed;
	top: 20px;
	right: 15%;
	width: 50px;
	height: 50px;
	visibility : hidden;
	z-index: 10;
}




#selection { position: relative;   
      height:95vh;; width: 49%;    
	   border:solid 3px #f0f0f0;
	   background:linear-gradient(to bottom, #85c1e9, #aed6f1 );
	   margin: auto;
	   display: flex;
	   flex-direction: column;
}   

#Stamm {
flex: 0 0 auto;
width: 100%; 
}

#Listen {
flex: 0 1 auto;
padding: 4px;
height: 90%;
overflow-y: scroll;
}

#results { position: relative;  
	height:95vh; width:49%; 
	 border:solid 3px #f0f0f0;
	background:linear-gradient(to bottom, #f1948a ,  #fadbd8 );
	margin: auto;
	display: flex;
	   flex-direction: column;
} 

#restitle {
flex: 0 0 auto;
width: 100%; 
}

#chart {
flex: 0 1 auto;
padding: 4px;
height: 90%;
overflow-y: scroll;
}



#chart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#leftValuesKNR {width: 300px}
#leftValuesKNR_KH {width: 300px}
#leftValuesATC {width: 300px}
#rightValuesKNR {width: 300px}
#rightValuesKNR_KH {width: 300px}
#rightValuesATC {width: 300px}
#searchKNR{width: 200px}
#searchKNR_KH{width: 200px}
#searchATC{width: 200px}

SECTION {
	text-align: center;
	margin: auto;
	/* padding: 8px;
    background-color: #f0f0f0; */
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}

INPUT {
	background: #fbfbfb;
	background-color: #fbfbfb;
}

SELECT {
	background: #fbfbfb;
	background-color:#fbfbfb;
}

/*
.chart rect {
  fill: steelblue;
}
*/
.chart {}

.bartext {
  fill: white;
  font: 9px sans-serif;
  text-anchor: start;
}

.label {
  /*fill: black;*/
  font: 12px sans-serif;
  text-anchor: start ;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend {
	position: relative;
	top: 5px;
	left: 5px;
}

line {
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 1, 3;
  shape-rendering: crispEdges;
}

text.active {
  fill: red;
}